*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(107, 136, 136);
}
.container{
    background-image: url("33.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color:blueviolet;
    */border-radius: 15px;
    box-shadow: 0 2px 5 px rgba(0,0, 0,0.3green, blue, alpha);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}
.header{
    background-color:  #2ecc71;  
    padding: 20px 40px;
}
.header h2{
    color: white;
    margin: 0;
}
.form{
    padding: 30px 60px;
}
.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
   position: relative; 
  
}
.form-control label{
    /* display: inline-block; */
    color: white;
    margin-bottom: 5px;
}
.form-control input {
   border: 2px solid #f0f0f0;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
   display: block;
   padding: 10px;
   font-size: 14px;
   font-family: inherit;
   width: 100%;
}
.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}
.form-control i{
    position: absolute;
    top: 30px;
    right: 10px;
    visibility: hidden;
}
.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: #e74c3c ;
    visibility: visible;
}
.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.form-control.error small{
    color: #e74c3c ;
    visibility: visible;
}
.form button{
  background-color:  #2ecc71;
  border: 2px solid  #2ecc71;
  color: #fff;
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

